/**
 *
 * -------------------------------------------
 * Template 3rd party extensions CSS file
 * -------------------------------------------
 * 
 **/
 
/*
 *
 * 9. Template additional 3rd party extensions style
 *
 *
------------------------------------ */

/* 9.1. GK Comments
==================================== */

.widget_gk_comments li {
	border: none!important;
	overflow: hidden;
	margin-bottom: 12px
}

/*.widget_gk_comments li.gk-admin-comment > p {
	
}*/

.widget_gk_comments li > p {
	background: #fff;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	font-size: 13px;
	line-height: 1.5;
	padding: 10px 15px;		
}

.widget_gk_comments li > p a { 
	color: #888;
    display: block;   
}

/*.widget_gk_comments li.gk-admin-comment > p a {

}*/

.widget_gk_comments li > p a:hover {
	color: #2F3336;
}

.widget_gk_comments li > p small {
	color: #E89E44;
	border-top: 1px solid #EEE;
	display: block;
	font-size: 10px;
	margin: 9px 0 0;
	padding: 6px 0 0;
	text-align: right;
}

.widget_gk_comments li span.gk-avatar {
	background: url('../images/style1/avatar_bg.png') no-repeat 50% 50%;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	display: block !important;
	float: left;
	line-height: 1;
	margin: 0 16px 0 0;
	padding: 6px;
}

.widget_gk_comments li span.gk-avatar img {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	display: block;
	line-height: 1;
}

.widget_gk_comments li strong {
	color: #2F3336!important;
	display: block;
	font-weight: 600;
	font-size: 12px;
	line-height: 30px;
	text-transform: uppercase;
}

/* 9.2. GK Social
==================================== */

#gk-social a {
	background: transparent url('../images/social_ico.png') no-repeat 0 0;
	display: block;
	filter: alpha(opacity=40);
	float: left;
	height: 40px;
	margin: 12px 0 0 0;
	opacity: 0.4;
	text-indent: -9999px;
	-webkit-transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	-o-transition: opacity .3s ease-out;
	transition: opacity .3s ease-out;
	width: 27px;
}


#gk-social a:hover {
	filter: alpha(opacity=100);
	opacity: 1.0;
}

#gk-social .gk-twitter-icon {
	background-position: -27px 0;
}
#gk-social .gk-gplus-icon {
	background-position: -54px 0;
}
#gk-social .gk-rss-icon {
	background-position: -81px 0;
}

/* 9.3. Header Top slideshow
==================================== */

.gk-animation {
	min-height: 100px;
	margin: 0;
	overflow: hidden;
	position: relative;
}

.gk-animation-wrap {
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

.gk-animation > div > * {
	opacity: 0;	        
	-webkit-transition: -webkit-transform 0.5s linear, opacity 0.3s ease-out;
	   -moz-transition:    -moz-transform 0.5s linear, opacity 0.3s ease-out;
	     -o-transition:      -o-transform 0.5s linear, opacity 0.3s ease-out;
	        transition:         transform 0.5s linear, opacity 0.3s ease-out;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

.gk-animation.loaded > div > * {
	opacity: 1;
}

.gka-bg{
	display: none;
}


@media (max-width: 1920px) {
	.gka-bg{
	display: block;
    }

    
}

@media (max-width: 1280px) {
	
	.gka-bg{
	
	display: none;
   
    }

    .gk-animation-wrap {
 
     top: -150px;
    }
}

@media (max-width: 720px) {
	.gka-bg{
	display: block;
    }


    .gk-animation-wrap {
 
     top: 0;
    }
	
}





.gk-animation .gka-bg {
	background: transparent url('../images/map.png') no-repeat center center;
	background-size: 1% 1%;
	left: 0;
	height: 665px;
	position: absolute;
	text-indent: -9999px;
	top: 0;
	-webkit-transition: background-size 0.75s ease-out;
	   -moz-transition: background-size 0.75s ease-out;
	     -o-transition: background-size 0.75s ease-out;
	        transition: background-size 0.75s ease-out;
	width: 1005px;
}

.gk-animation.displayed .gka-bg {
	background-size: 58% 100%;
}

.gk-animation h2 {
	color: #9a9999;
	font-size: 62px;
	font-weight: 300;
	line-height: 68px;
	padding-top: 60px;
	position: relative;
	text-align: center;
	z-index: 1;
}

.gk-animation h1 {
	color: #fff;
	font-size: 100px;
	font-weight: 900;
	line-height: 106px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	z-index: 1;
}

.gk-animation .gk-stars {
	background: transparent url('../images/stars.png') no-repeat center center;
	display: block;
	height: 23px;
	margin: 20px auto;
	position: relative;
	text-indent: -9999px;
	width: 240px;
	z-index: 1;
}

.gk-animation .gk-guitar {
	background: transparent url('../images/guitar.png') no-repeat 0 0;
	height: 419px;
	position: absolute;
	right: 0;
	text-indent: -9999px;
	top: 30px;
	width: 920px;
	z-index: 2;
}

.gk-animation .gk-ticket {
	background: #222;
    background: rgba(0, 0, 0, 0.4) url('../images/tickets_btn.png') no-repeat 95% center;
	border: 1px solid #343334;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	border-top: none;
	-webkit-box-shadow: inset 0 0 3px #090909;
	   -moz-box-shadow: inset 0 0 3px #090909;
	    -ms-box-shadow: inset 0 0 3px #090909;
	     -o-box-shadow: inset 0 0 3px #090909;
	        box-shadow: inset 0 0 3px #090909;
	clear: both;
	display: block;
	height: 82px;
	position: relative;
	margin: 40px auto 0 auto;
	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
	     -o-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out;
	width: 630px;
	z-index: 3;
}

.gk-animation .gk-ticket:hover {
	background-position: 97% center;
}

.gk-animation .gk-ticket strong {
	background: #1077b8;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	color: #fff;
	float: left;
	font-size: 21px;/*32px*/
	font-weight: 900;
	height: 62px;
	line-height: 30px;/*62px*/
	margin: 10px 0 10px 14px;
	padding: 0 36px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	-webkit-transition: background-color 0.3s ease-out;
	   -moz-transition: background-color 0.3s ease-out;
	     -o-transition: background-color 0.3s ease-out;
	        transition: background-color 0.3s ease-out;
}

.gk-animation .gk-ticket:hover strong {
	background: #e89e44;
}

.gk-animation .gk-ticket small {
	color: #9F9F9F;
	float: left;
	font-size: 14px;
	line-height: 17px;
	max-width: 180px;
	padding: 23px 46px;
	text-align: center;
}

.gk-animation-wrap > * {
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
}

.gk-animation-wrap > *.gk-scale-up {
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
	     -o-transform: scale(0);
	        transform: scale(0);
}

.gk-jscounter {
	color: #e89e44;
	position: relative;
	text-align: center;
	z-index: 3;
}

.gk-jscounter > div {
	display: inline-block;
	min-width: 104px;
	padding: 0 25px;
	position: relative;
}

.gk-jscounter > div::before {
	content: ":";
	float: left;
	font-size: 32px;
	font-weight: 800;
	position: absolute;
	top: 6px;
	left: -4px;
}

.gk-jscounter > div:first-child::before {
	content: "";
}

.gk-jscounter > div > strong {
	color: #e89e44;
	display: block;
	font-size: 80px;
	font-weight: 400;
	line-height: 84px;
}

.gk-jscounter > div > small {
	color: #e89e44;
	display: block;
	font-size: 32px;
	line-height: 36px;
}

.gk-jscounter > h3 {
	color: #e89e44;
	display: block;
	font-size: 80px;
	font-weight: 400;
	line-height: 84px;
	text-align: center;
}

/* 9.4. Sponsors
==================================== */

.gk-sponsors h2 {
	color: #fff;
	font-size: 25px;
	font-weight: 900;
	line-height: 95px;
	text-align: center;
	text-transform: uppercase;
	font-family: "OpenSansCondensed";
}

.gk-sponsors > div {
	/*margin: 20px 0;*/
	text-align: center;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

.gk-sponsors-wrap {
	overflow: hidden;
	width: 100%;
}

.gk-sponsors-wrap > a,
.gk-sponsors > div > a {
	background: #ea8d47;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	/*float: left;*/
	display: inline-block;
	margin: 0 0.5% 1% 0.5%;
	min-height: 50px;
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
	    -ms-transform: scale(0);
	     -o-transform: scale(0);
	        transform: scale(0);
	-webkit-transition: -webkit-transform 0.4s ease-out, background-color 0.25s ease-out, border-radius 0.8s ease-out;
	   -moz-transition:    -moz-transform 0.4s ease-out, background-color 0.25s ease-out, border-radius 0.8s ease-out;
	     -o-transition:      -o-transform 0.4s ease-out, background-color 0.25s ease-out, border-radius 0.8s ease-out;
	        transition:         transform 0.4s ease-out, background-color 0.25s ease-out, border-radius 0.8s ease-out;
	width: 26%;
}

.gk-sponsors-wrap > a:hover,
.gk-sponsors > div > a:hover {
	background: #fcaf69;
}

.gk-sponsors > div > a img {
	display: block;
	margin: 0 auto;

}

.gk-sponsors-wrap > a.active,
.gk-sponsors > div > a.active {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
}
/* Sponsors page */

.page-event h2 {
	line-height: 1;
	margin-bottom: 32px;
}

.page-event .gk-sponsors-wrap {
	margin: 16px 0 36px;
}

.page-event .gk-sponsors-wrap a {
	background: #2F3336;
}

.page-event .gk-sponsors-wrap a:active,
.page-event .gk-sponsors-wrap a:focus,
.page-event .gk-sponsors-wrap a:hover {
	background: #1078B9;
}

/* 9.5. Schedule
==================================== */

.gk-schedule {
	margin: 0 0 20px;
	overflow: visible;
}

.gk-schedule dt {
	color: #fff;
	font-size: 42px;
	font-weight: 600;
	line-height: 1;
	margin: 0 0 36px;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.15)
}

.gk-schedule dt strong {
	color: #2f3336;
}

.gk-schedule dd + dt {
	margin-top: 72px;
}

.gk-schedule dd {
	border-top: 1px solid #d5d5d5;
	margin: 20px 0;
	padding-top: 20px;
	overflow: hidden;
}

.gk-schedule dd > strong {
	background: #2F3336;
	color: #fff;
	float: left;
	margin: 0 50px 0 0;
	position: absolute;
	text-align: center;
	font-size: 22px;
	line-height: 1;
	padding: 3px;
}

.gk-schedule dd > div {
	margin-left: 150px;
}

.gk-schedule dd > div > div {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
	float: left;
	padding: 12px 20px;
	background: #fff;
	margin-left: 32px;
}

.gk-schedule dd > div > div p {
	color: #e89e44;
	font-size: 13px;
	font-weight: 600;
	margin: 0 0 6px;
	text-transform: uppercase;
}

.gk-schedule dd > div > div strong {
	color: #888;
}

.gk-schedule dd > div > div a,
.gk-schedule dd > div > div span {
	background: #e89e44;
	clear: both;
	color: #fff;
	display: block;
	font-size: 24px;
	font-weight: 600;
	line-height: 24px;
	padding: 1px 4px;
	text-transform: uppercase
}

.gk-schedule dd > div > div a:hover { 
	background: #1078B9;
}

.gk-schedule dd > div > div small {
	clear: both;
	color: #454545;
	display: block;
	font-size: 15px;
	font-weight: 600
}

/* 9.5. GK Speakers widget
==================================== */

.speakers-box-title {
	display: table;
	margin-bottom: 50px;
	margin-top: 14px;
	min-height: 40px;
}

.speakers-box-title span {
	background: transparent url('../images/separator_bg.png') repeat-x 0 center;
	display: table-cell;
	text-indent: -9999px;
	width: 50%;
}

.speakers-box-title h3 {
	color: #E7E7E7;
	display: table-cell;
	font-size: 30px;
	font-weight: 600;
	line-height: 40px;
	padding: 0 55px;
	text-align: center;
	text-transform: uppercase;
	word-wrap: normal!important;
}

.widget_gk_speakers > div {
    position: relative;
    overflow: hidden;
    margin: 0 -15px;
}

.gkw-speakers {
	margin: 0 auto;
	max-width: 864px;
	position: relative;
}

.gkw-rest-speakers {
	left: -9999px;
	position: absolute;
}

.gkw-speakers .gkw-speaker-big {
	background: transparent url('../images/style1/speaker_big_bg.png') no-repeat 0 0;
	margin: 0 auto;
	overflow: hidden;
	width: 296px;
}

.gkw-speakers .gkw-speaker-big > div {
	-webkit-border-radius: 50%!important;
	   -moz-border-radius: 50%!important;
	     -o-border-radius: 50%!important;
	        border-radius: 50%!important;
	display: block;
	height: 272px;
	margin: 10px 0 0 11px;
	overflow: hidden;
	width: 272px;
}

.gkw-speakers .gkw-speaker-big > div a,
.gkw-speakers .gkw-speaker-small > div a {
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	display: block;
	line-height: 1;
}

.gkw-speakers .gkw-speaker-big > div img,
.gkw-speakers .gkw-speaker-small > div img {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	     -o-border-radius: 50%;
	        border-radius: 50%;
	opacity: 1;
	-webkit-transform: scale(1.0);
	   -moz-transform: scale(1.0);
	    -ms-transform: scale(1.0);
	     -o-transform: scale(1.0);
	   	    transform: scale(1.0);
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(.71,.23,.03,.79), opacity 0.3s ease-out;
	   -moz-transition:    -moz-transform 0.3s cubic-bezier(.71,.23,.03,.79), opacity 0.3s ease-out;
	    -ms-transition:     -ms-transform 0.3s cubic-bezier(.71,.23,.03,.79), opacity 0.3s ease-out;
	     -o-transition:      -o-transform 0.3s cubic-bezier(.71,.23,.03,.79), opacity 0.3s ease-out;
	        transition:         transform 0.3s cubic-bezier(.71,.23,.03,.79), opacity 0.3s ease-out;
}

.gkw-speakers .gkw-speaker-big > div img {
	height: auto;
	width: 272px;
}

.gkw-speakers .gkw-speaker-small > div img {
	height: auto;
	width: 104px;
}

.gkw-speakers .gkw-speaker-big > div:hover img,
.gkw-speakers .gkw-speaker-small > div:hover img {
	opacity: 0.92;
}

.gkw-speakers .gkw-speaker-big.speaker-hide > div img,
.gkw-speakers .gkw-speaker-small.speaker-hide > div img {
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
	    -ms-transform: scale(0);
	     -o-transform: scale(0);
	   	    transform: scale(0);
}

.gkw-speakers .gkw-speaker-small {
	background: transparent url('../images/style1/speaker_small_bg.png') no-repeat 0 0;
	margin: 0 auto;
	overflow: hidden;
	width: 119px;
}

.gkw-speakers .gkw-speaker-small > div {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	     -o-border-radius: 50%;
	        border-radius: 50%;
	display: block;
	height: 104px;
	margin: 8px 0 0 8px;
	overflow: hidden;
	width: 104px;
}

.gkw-speakers .gkw-speakers-small-right {
	position: absolute;
	right: 0;
	top: 101px;
}

.gkw-speakers .gkw-speakers-small-left {
	left: 0;
	position: absolute;
	top: 101px;
}

.gkw-speakers .gkw-speaker-small {
	float: left;
}

.gkw-speakers .gkw-speakers-small-left .gkw-speaker-small:first-child,
.gkw-speakers .gkw-speakers-small-right .gkw-speaker-small:first-child {
	margin-right: 14px;
}

.gkw-speakers .gkw-speaker-small h4 {
	color: #1d1a1a;
	font-size: 18px;
	font-weight: 600;
	margin-top: 34px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	top: 0;
}

.gkw-speakers .gkw-speaker-small:hover h4 {
	top: -12px;
}

.gkw-speakers .gkw-speaker-small h4 a {
	color: #1d1a1a;
}

.gkw-speakers .gkw-speaker-small h4 a:hover {
	color: #666;
}

.gkw-speakers .gkw-speaker-big {
	text-align: center;
}

.gkw-speakers .gkw-speaker-big h4 {
	background: #e89e44;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	color: #fff;
	display: inline-block;
	float: none!important;
	font-weight: 600;
	line-height: 51px;
	margin: -20px auto 0 auto!important;
	min-height: 50px;
	min-width: 190px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	top: -20px;
}

.gkw-speakers .gkw-speaker-big h4 a {
	color: #fff;
}

.gkw-speakers .gkw-speaker-big h4 a:hover {
	color: #eee;
}

.gkw-speakers .gkw-speaker-big:hover h4 {
	-webkit-transform: scale(1.03);
	   -moz-transform: scale(1.03);
	    -ms-transform: scale(1.03);
	     -o-transform: scale(1.03);
	        transform: scale(1.03);
}

.gkw-speakers .gkw-speaker-big h4 {
	-webkit-transition: opacity 0.75s cubic-bezier(.71,.23,.03,.79), top 0.5s cubic-bezier(.71,.23,.03,.79), -webkit-transform 0.2s ease-out;
	   -moz-transition: opacity 0.75s cubic-bezier(.71,.23,.03,.79), top 0.5s cubic-bezier(.71,.23,.03,.79), -moz-transform 0.2s ease-out;
	        transition: opacity 0.75s cubic-bezier(.71,.23,.03,.79), top 0.5s cubic-bezier(.71,.23,.03,.79), transform 0.2s ease-out;
	opacity: 1;
}

.gkw-speakers .gkw-speaker-small h4 {
	-webkit-transition: opacity 0.3s cubic-bezier(.71,.23,.03,.79), top 0.3s cubic-bezier(.71,.23,.03,.79);
	   -moz-transition: opacity 0.3s cubic-bezier(.71,.23,.03,.79), top 0.3s cubic-bezier(.71,.23,.03,.79);
	        transition: opacity 0.3s cubic-bezier(.71,.23,.03,.79), top 0.3s cubic-bezier(.71,.23,.03,.79);
	line-height: 1.2;
	opacity: 1;
}

.gkw-speakers .gkw-speaker-big.speaker-hide h4,
.gkw-speakers .gkw-speaker-small.speaker-hide h4 {
	opacity: 0;
	top: 30px;
}

/* 9.6. GK NSP
==================================== */

.gk-nsp {
	position: relative;
}

.gk-nsp-arts-nav,
.gk-nsp-links-nav {
	overflow: hidden;
	clear: both;
}
.gk-nsp-links-nav {
	float: right;
}
.gk-nsp-arts-nav {
	position: absolute;
	right: 12px;
	padding: 0 3px;
	top: -50px;
}
.gk-nsp-arts-nav ul,
.gk-nsp-links-nav ul {
	list-style-type: none !important;
	margin: 6px 0 0 !important;
	padding: 0 !important;
	float: left;
}
.gk-nsp-arts-nav ul li,
.gk-nsp-links-nav ul li {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	float: left;
	width: 12px;
	height: 12px;
	margin: 0 4px 0 0 !important;
	background: #ccc;
	border: none!important;
	padding: 0!important;
	text-indent: -999em;
	cursor: pointer;
}
.gk-nsp-arts-nav li:hover,
.gk-nsp-arts-nav li.active,
.gk-nsp-links-nav li:hover,
.gk-nsp-links-nav li.active {
	background: #555;
}
.gk-nsp-next,
.gk-nsp-prev {
	float: left;
	width: 22px;
	height: 22px;
	margin: 0 0 0 4px;
	background: url('../images/nsp_interface.png') no-repeat -22px 0;
	text-indent: -999em;
	cursor: pointer;
}
.gk-nsp-prev {
	background-position: 0 0;
}
.gk-nsp-next:hover,
.gk-nsp-prev:hover {
	background-position: -22px -22px;
}
.gk-nsp-prev:hover {
	background-position: 0 -22px;
}
.gk-nsp-art-page {
	float: left;
}
.gk-nsp-art {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
	float: left;
}
.gk-nsp-art.gk-nsp-cols-1 { 
	border-top: 1px solid #e5e5e5;
}
.gk-nsp-art:first-child {
	border-top: none;
}
.gk-nsp-art div {
	overflow: hidden;
}
.gk-nsp-header {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
	margin: 0 0 10px 0;
}
.gk-nsp-header a {
	color: #2f3133;
	text-decoration: none;
}
.gk-nsp-header a:active,
.gk-nsp-header a:focus,
.gk-nsp-header a:hover {
	color: #418cd1;
}
.gk-nsp-art .gk-nsp-image {
	border: none;
}
body[data-tablet="false"] .gk-nsp-art .gk-nsp-image {
	-webkit-transform: scale(1.0);
	   -moz-transform: scale(1.0);
	    -ms-transform: scale(1.0);
	     -o-transform: scale(1.0);
	        transform: scale(1.0);
	-webkit-transition: -webkit-transform 0.15s linear;
	   -moz-transition:    -moz-transform 0.15s linear;
	     -o-transition:      -o-transform 0.15s linear;
	        transition:         transform 0.15s linear;
}
body[data-tablet="false"] .gk-nsp-art .gk-nsp-image:hover {
	-webkit-transform: scale(0.96);
	   -moz-transform: scale(0.96);
	    -ms-transform: scale(0.96);
	     -o-transform: scale(0.96);
	        transform: scale(0.96);
}
.gk-nsp-art .gk-nsp-image-wrap {
	overflow: hidden;
}
.gk-nsp-art .gk-nsp-text {
	color: #555;
	float: none;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
}
.gk-nsp-art .gk-nsp-text + .readon {
	margin-top: 16px;	
}
.gk-nsp-art .gk-nsp-text + .gk-nsp-info {
	margin-top: 10px;
}
.gk-nsp-art .gk-nsp-info {
	color: #999;
	font-size: 10px;
	font-style: normal;
	font-weight: 300;
	line-height: 1.0;
	margin: 0 0 10px 0;
	text-transform: uppercase;
}
.gk-nsp-art .gk-nsp-info a,
.gk-nsp-art .gk-nsp-info span {
	color: #999;
	padding-left: 8px;
}
.gk-nsp-art .gk-nsp-info a:first-child,
.gk-nsp-art .gk-nsp-info span:first-child {
	padding-left: 0!important;
}
.gk-nsp-art .gk-nsp-info a:active,
.gk-nsp-art .gk-nsp-info a:focus,
.gk-nsp-art .gk-nsp-info a:hover {
	color: #333;
}
.readon {
	background: #f4f4f4;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	color: #2f3234;
	font-size: 18px;
	padding: 0 10px;
}
.readon:active,
.readon:focus,
.readon:hover {
	background: #2f3234;
	color: #fff;
}
.readon.left,
.readon.right,
.readon.center {
	clear: both;
}
.readon.left {
	float: left;
}
.readon.right {
	float: right;
}
.readon.center {
	display: inline;
	float: none;
}
.gk-nsp-links ul {
	float: left;
	list-style-type: none !important;
	padding: 0 !important;
}
.gk-nsp-links ul li {
	background: transparent url('../images/separator_bg.png') repeat-x 0 top;
	border-top: none;
	margin:0 !important;
	padding: 16px 0;
}
.gk-nsp-links ul li h4 {
	color: #2f3133;
	font-size: 16px;
	font-weight: bold;
	line-height: 28px;
	margin: 0;
}
.gk-nsp-links ul li h4 a {
	color: #2f3133;
	text-decoration: none;
}
.gk-nsp-links ul li h4 a:active,
.gk-nsp-links ul li h4 a:focus,
.gk-nsp-links ul li h4 a:hover {
	color: #418cd1;
}
.gk-nsp-links ul li p {
	font-size: 14px;
	line-height: 22px;
	margin: 5px 0;
}

.gk-nsp-image-wrap {
	float: left;
}
/* responsive layout */
.gk-responsive {
	line-height: 1;
}
img.gk-responsive {
	width: 100% !important;
	height: auto;
}
.gk-responsive {
	display: block;
	position: relative;
}
.gk-nsp-image {
	max-width: 100%;
}
.gk-nsp-arts,
.gk-nsp-links {
	clear: both;
	overflow: hidden;
	width: 100%;
}
.gk-nsp-arts::after,
.gk-nsp-links::after {
	clear: both;
	content: "";
	display: table;
}
.gk-nsp-arts-page,
.gk-nsp-art {
	float: left;
}
.gk-nsp-pages-1 { width: 100%; }
.gk-nsp-pages-2 { width: 200%; }
.gk-nsp-pages-3 { width: 300%; }
.gk-nsp-pages-4 { width: 400%; }
.gk-nsp-pages-5 { width: 500%; }
.gk-nsp-pages-6 { width: 600%; }
.gk-nsp-pages-7 { width: 700%; }
.gk-nsp-pages-8 { width: 800%; }
.gk-nsp-pages-9 { width: 900%; }
.gk-nsp-pages-10 { width: 1000%; }
.gk-nsp-cols-1 { width: 100%; }
.gk-nsp-cols-2 { width: 50%; }
.gk-nsp-cols-3 { width: 33.3%; }
.gk-nsp-cols-4 { width: 25%; }
.gk-nsp-cols-5 { width: 20%; }
.gk-nsp-cols-6 { width: 16.66%; }
.gk-nsp-cols-7 { width: 14.285%; }
.gk-nsp-cols-8 { width: 12.5%; }
.gk-nsp-cols-9 { width: 11.1%; }
.gk-nsp-cols-10 { width: 10%; }

.gk-nsp-art.gk-nsp-cols-1,
.gk-nsp-art.gk-nsp-cols-2:nth-child(2n+1),
.gk-nsp-art.gk-nsp-cols-3:nth-child(3n+1),
.gk-nsp-art.gk-nsp-cols-4:nth-child(4n+1),
.gk-nsp-art.gk-nsp-cols-5:nth-child(5n+1),
.gk-nsp-art.gk-nsp-cols-6:nth-child(6n+1),
.gk-nsp-art.gk-nsp-cols-7:nth-child(7n+1),
.gk-nsp-art.gk-nsp-cols-8:nth-child(8n+1),
.gk-nsp-art.gk-nsp-cols-9:nth-child(9n+1),
.gk-nsp-art.gk-nsp-cols-10:nth-child(10n+1) {
	clear: both;
}

.gk-nsp-arts-scroll,
.gk-nsp-links-scroll {
	overflow: hidden;
}

/* Suffix dark */
.dark .readon {
	background: transparent;
	color: #fff;
	font-size: 18px;
	height: auto!important;
	line-height: 19px!important;
	padding: 0;
}
.dark .readon:active,
.dark .readon:focus,
.dark .readon:hover {
	background: transparent;
	color: #ccc;
}
.dark .gk-nsp-art .gk-nsp-text {
	color: #8d8d8d;
}
.dark .gk-nsp-art .gk-nsp-info {
	color: #ddd;
}
.dark .gk-nsp-art .gk-nsp-info a,
.dark .gk-nsp-art .gk-nsp-info span {
	color: #ddd;
	padding-left: 8px;
}
.dark .gk-nsp-art .gk-nsp-info a:active,
.dark .gk-nsp-art .gk-nsp-info a:focus,
.dark .gk-nsp-art .gk-nsp-info a:hover {
	color: #fff;
}
.dark .gk-nsp-links ul li h4 a {
	color: #ddd;
}
.dark .gk-nsp-links ul li h4 a:active,
.dark .gk-nsp-links ul li h4 a:focus,
.dark .gk-nsp-links ul li h4 a:hover {
	color: #fff;
}
.dark .gk-nsp-art.gk-nsp-cols-1  {
	border-top: 1px solid #444;
}
.dark .gk-nsp-art:first-child {
	border-top: none;
}
.dark .gk-nsp-art .gk-nsp-header a {
	color: #fff;
}
.dark .gk-nsp-art .gk-nsp-header a:active,
.dark .gk-nsp-art .gk-nsp-header a:focus,
.dark .gk-nsp-art .gk-nsp-header a:hover {
	color: #ccc;
}
.dark .nsp-arts-nav {
	position: absolute;
	right: 14px;
	padding: 0 3px;
	top: 28px;
}

/* suffix horizontal */
.gk-nsp.horizontal {
	width: auto!important;
}

/* suffix vertical */
.box-title + .gk-nsp.vertical {
	margin-top: -10px!important;
}
.vertical .gk-nsp-arts-nav {
	top: -26px;
}

/* 9.7. WPML
==================================== */

body #lang_sel_footer {
	background-color: transparent;
	border: none;
	clear: both;
	font: inherit;
	margin: 0;
	min-height: 15px;
	padding: 7px;
	text-align: center;
}
