/**
 *
 * -------------------------------------------
 * Basic template CSS file
 * -------------------------------------------
 *
 **/
 
/*
 *
 * 1. Global elements
 *
 *
------------------------------------ */
 
/* 1.1. Base document elements
==================================== */

* {
	outline: none!important;
}

html {
	border-bottom: 1px solid transparent; /* with min-height cause showing always the scrollbar */
	-webkit-font-smoothing: antialiased; /* Fixes Webkit GPU rendering */
	min-height: 100%;
}

body { 	
	background: #000 url('../images/bg.jpg') no-repeat center top;
	color: #aaa;
	font-size: 14px;
	font-weight: 400;
	line-height: 2;
	min-height: 100%;
	padding: 0 10px!important;
	-ms-word-wrap: break-word;
		word-wrap: break-word;
}

body a {
	-webkit-transform: translateZ(0);
}

body[data-mobile="true"] #main-menu-mobile select {
    font-size: 50px;
}

@media (max-width: 1920px) {
	body {
		background-image: url('../images/bg1920.jpg')  !important;
	}
}

@media (max-width: 1280px) {
	body {
		background-image: url('../images/bg1280.jpg')  !important;
	}
}

@media (max-width: 720px) {
	body {
		background: #191919!important;
	}
	#gk-bottom-wrap {
		background: #191919!important;
	}
}

/* 1.2. Base typography elements
==================================== */

@font-face {

	font-family: 'OpenSansCondensed';

	src: url('../fonts/open-sans/OpenSans-Regular.ttf');

}



a {
	color: #1078b9;
	text-decoration: none;
	-webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
	   -moz-transition: background-color 0.2s ease-out, color 0.2s ease-out;
	    -ms-transition: background-color 0.2s ease-out, color 0.2s ease-out;
	     -o-transition: background-color 0.2s ease-out, color 0.2s ease-out;
	        transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

a:active,
a:focus,
a:hover {
	color: #2f3336;
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #2f3336;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 56px;
	font-weight: 600;
}

h2,
.page-title {
	font-size: 36px;
	font-weight: 600;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 125%;
}

h5 {
	font-size: 110%;
}

h6 {
	font-size: 105%;
}

ul, 
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li,
ol li {
	line-height: 2.8;
}

p {
	margin: 0.5em 0 1.5em;
}

img {
	height: auto;
	max-width: 100%;
}

b, strong {
	font-weight: 600;
}

.job-title{
	text-decoration: underline;
	color: orange;

}

.staff{

}

.email{
 color: blue;
}

.email-label{
	text-decoration: underline;
}

.phone{
 color: green;


}

.phone-label{
	text-decoration: underline;

}

#post-0{
	display: none;
}

/* 1.3. Base form elements
==================================== */

/* buttons */
.btn,
button,
a.gk-button,
input[type="button"],
input[type="submit"],
.nav-next a,
.nav-prev a {
	background: #1078b9;
	display: inline-block;
	height: 34px;
	line-height: 35px;
	margin: 0 5px 2px 2px;
	padding: 0 11px;
	border: none;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
    	    border-radius: 2px;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	color: #fff!important;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-transition: background-color 0.12s ease-out;
	   -moz-transition: background-color 0.12s ease-out;
	     -o-transition: background-color 0.12s ease-out;
	        transition: background-color 0.12s ease-out;	
}

.btn:hover,
.btn:active,
.btn.active,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
button:active,
input[type="button"]:active,
input[type="submit"]:active,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
a.gk-button:hover,
a.gk-button:active,
a.gk-button.active,
a.gk-button:focus {
	background: #e89e44;
	color: #fff;
	cursor: pointer;
}

.nav-next a,
.nav-prev a {
	background: #e89e44;
}

.nav-next a:hover,
.nav-next a:focus,
.nav-next a:active,
.nav-prev a:hover,
.nav-prev a:focus,
.nav-prev a:active {
	background: #1078b9;
}

.btn:first-child,
button:first-child,
a.gk-button:first-child,
input[type="button"]:first-child,
input[type="submit"]:first-child {
	margin-left: 0;
}

/* input fields */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="www"],
input[type="tel"],
textarea {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
	border: 1px solid #e7e7e7;
	border-top-color: #ccc;
	height: 36px;
	line-height: 37px;
	padding: 0 12px;
	font-size: 14px;
	color: #555;
	max-width: 100% !important;
}

textarea {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
	height: auto;
	padding: 24px;
	max-width: 100% !important;
}

label {
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	padding: 0 0 4px 0;
}

select {
	max-width: 100%;
}

/* 1.4. Base other elements
==================================== */

article {
	margin: 20px 0;
}

.tag-page article,
.category-page article,
.search-page article {
	margin: 20px 0 60px 0;
}

/* 1.5. Base CSS classes
==================================== */

/*
 *
 * 2. Template containers
 *
 *
------------------------------------ */

.gk-page {
	margin: 0 auto;
	width: 100%; 
}

#gk-mainbody,
#gk-sidebar {
	margin-top: 28px!important;
}

#gk-mainbody-columns {
	width: 100%;
}

#gk-mainbody-columns > section {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
	float: left;
	padding: 0;
}

#gk-mainbody-columns > aside {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
	float: left;
	padding: 0 0 0 41px;
}

#gk-mainbody-columns.gk-column-left > section {
	float: right;	
}

#gk-mainbody-columns.gk-column-left > aside {
	float: left;	
	padding: 0 41px 0 0;
 }

/*
 *
 * 3. Template structure
 *
 *
------------------------------------ */
 
/* 3.1. Top
==================================== */

#gk-page-top {
	background: black;
	background: rgba(0, 0, 0, 0.3);
	margin: 0 -10px;
}

#gk-social {
	float: right;
}

/* 3.2. Header
==================================== */

#gk-header-top {
	margin: 58px 0 60px;
}



@media (max-width: 1920px) {
	#gk-header-top {
	margin: 58px 0 60px;
}
    
}

@media (max-width: 1280px) {
	
	#gk-header-top {
	margin: 58px 0 60px;
}
}

@media (max-width: 900px) {
	#gk-header-top {
	margin: 58px 0 60px;
}
	
}









#gk-header-top-module {
	clear: both;
}

a.cssLogo {
	background: transparent url('../images/style1/logo.png') no-repeat 0 0;
	display: block;
	float: left;
	/* You can specify there logo size and background */
	height: 88px;
	margin-bottom: 10px;
	width: 392px;
	text-indent: -9999px;
}



@media (max-width: 1920px) {
	#logo_plad a{
	background: transparent url('../images/logo_plad.png') no-repeat 0 0;
	height: 77px;
	width: 160px;
	position: absolute;
	display: block;	
	top: 6px;
}
    
}

@media (max-width: 1280px) {
	#logo_plad a{
	background: transparent url('../images/logo_plad.png') no-repeat 0 0;
	height: 77px;
	width: 160px;
	position: absolute;
	display: block;	
	top: 6px;
}
}

@media (max-width: 900px) {
	#logo_plad a{
	background: transparent url('../images/logo_plad_small.png') no-repeat 0 0;
	height: 37px;
	width: 80px;
	position: absolute;
	display: block;	
	top: 78px;
	right: 0;
}
	
}




a.textLogo {
	color: #eee;
	display: block;
	font-size: 60px;
	font-weight: 900;
	line-height: 60px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

a.textLogo small {
	color: #ddd;
	display: block;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
}

a.imageLogo,
a.imageLogo img {
	display: block;
	float: left;
}



@media (max-width: 1920px) {

  a.imageLogo,
  a.imageLogo img {
	margin-left: 10%;
}	

}

@media (max-width: 1280px) {
	a.imageLogo,
  a.imageLogo img {
	margin-left: 10%;
}
}

@media (max-width: 720px) {
	a.imageLogo,
  a.imageLogo img {
	margin-left: 0;
	width: 90%;
	height: auto;
}
	
}



#main-menu-mobile {
	/*border: 1px solid #000;*/
	height: 48px;
	left: -9999px;
	position: absolute;
	top: 0px;
	width: 160px;
}

/* register button */
#gk-register {
	float: right;
	margin: 34px 0 0 0;


	display: none;
}
#gk-register a {
	background: none repeat scroll 0 0 rgb(206, 111, 33);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	font-size: 23px;
    font-weight: 800;
    line-height: 24px;
    padding: 13px 22px;
    text-transform: uppercase;
    font-family: 'OpenSansCondensed';    
    transition: background 0.3s ease-out 0s;
	-webkit-transition: background .3s ease-out;
	-moz-transition: background .3s ease-out;
	-o-transition: background .3s ease-out;
	transition: background .3s ease-out;
}



#gk-register a:hover {
	background: #e89e44;
}

/* 3.3. Content
==================================== */

.gk-page-wrap {
	background: transparent url('../images/grunge_wall.png');
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
	clear: both;
	color: #555;
	margin: 0 -10px 0 -10px!important;
	padding: 0 0 52px 0;
}
.gk-page-wrap.gk-speakers-exist {
	border-top: 7px solid #e89e44;
	margin-top: 320px!important;
}
.gk-page-wrap.gk-speakers-exist #gk-speakers {
	margin-top: -266px;
}

section.intro {
	border-bottom: 1px solid #ccc;	
	font-size: 110%;
	margin-bottom: 62px;
	padding: 0 0 16px;
}

section.intro p {
	margin-bottom: 0;
}

#gk-mainbody h2.page-title {
	line-height: 1.1;
}

.box::after,
.gk-page::after,
#respond::after,
#gk-header-top::after,
#gk-page-top::after,
.gk-page-wrap::after,
#gk-mainbody::after,
#gk-mainbody-columns::after {
    clear: both;
    content: "";
    display: table;
}

section.content::after {
    clear: both;
    content: "";
    display: table;
}

/* 3.4. Sidebar
==================================== */

#gk-sidebar .box {
	padding: 0!important;
}

/* 3.5. Bottom
==================================== */

#gk-bottom1 .box .box-title {
	background: transparent!important;
	font-size: 20px;
	line-height: 24px;
	min-height: 24px;
}

#gk-bottom-wrap {
	background: #000 url('../images/bg.jpg') no-repeat center -180px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
	clear: both;
	color: #d6d6d6;
	font-size: 12px;
	margin: 0 -10px;
	padding: 24px 0 0;
	overflow: hidden;
}

#gk-bottom-wrap a {
	color: #999;
}

#gk-bottom-wrap a:active,
#gk-bottom-wrap a:focus,
#gk-bottom-wrap a:hover {
	color: #fff;
}

#gk-bottom-wrap .box li,
#gk-bottom-wrap .box li a {
	line-height: 2.0!important;
	padding: 0!important;
}

#gk-bottom1 > div,
#gk-bottom2 > div,
#gk-bottom3 > div {
	margin: 0 -10px;
}

#gk-sponsors {
	background: #E87B2D;
	margin: 0 -10px;
	padding: 0 0 60px 0;
}

#gk-bottom-wrap .box-title {
	background: transparent;
	color: #D5D5D5;
	font-size: 20px;
	font-weight: normal!important;
	line-height: 24px;
	min-height: 24px;
}

#gk-top1,
#gk-top2,
#gk-bottom1,
#gk-bottom2,
#gk-bottom3 {
	margin-top: 28px!important;
}

/* 3.6. Footer
==================================== */

#gk-footer {
	/*background: transparent url('../images/separator_bg.png') repeat-x 0 0;*/
	clear: both;
	color: #777;
	font-size: 12px;
	line-height: 51px;
	margin: 0 auto;
	min-height: 10px;
	padding: 10px 0 0 0;
}

#gk-footer a {
	color: #bbb;
}

#gk-footer a:active,
#gk-footer a:focus,
#gk-footer a:hover {
	color: #fff;
}

#footer-menu {
	float: left;
}

#footer-menu li {
	float: left;
	line-height: 50px;
	margin-right: 12px;
}

#footer-menu ul {
	display: none;
}

#footer-menu li a {
	color: #777;
}

#footer-menu li a:active,
#footer-menu li a:focus,
#footer-menu li a:hover {
	color: #fff;
}

#gk-footer .gk-copyrights {
	float: right;
	margin: 0;
}

#gk-style-area {
	display: none;
	float: right;
	line-height: 7px;
	margin: 12px 0 0 12px;
	text-align: center;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	     -o-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

#gk-style-area a {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	display: inline-block;
	height: 7px;
	text-indent: -9999px;
	-webkit-transform: scale(1.0);
	   -moz-transform: scale(1.0);
	    -ms-transform: scale(1.0);
	     -o-transform: scale(1.0);
	        transform: scale(1.0);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	     -o-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 0.2s ease-out;
	   -moz-transition:    -moz-transform 0.2s ease-out;
	     -o-transition:      -o-transform 0.2s ease-out;
	        transition:         transform 0.2s ease-out;
	width: 7px;
}
#gk-style-area a:hover {
	-webkit-transform: scale(1.5);
	   -moz-transform: scale(1.5);
	    -ms-transform: scale(1.5);
	     -o-transform: scale(1.5);
	        transform: scale(1.5);
}
#gk-style-area a {
	margin: 9px 0 9px 3px;
}
.gk-style-switcher-color a {
	background: #e87b2d;
}
.gk-style-switcher-color a + a {
	background: #7d76a1;
}
.gk-style-switcher-color a + a + a {
	background: #9a9180;
}

#gk-footer .gk-framework-logo {
	clear: both;
	display: block;
	margin: 0 auto!important;
	padding: 20px 0 80px 0!important;
}

/*
 *
 * 4. Widget styles
 *
 *
------------------------------------ */
 
/* 4.1. Base style
==================================== */

.box {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0 10px;
}

#gk-top1 .box,
#gk-top2 .box,
#gk-bottom1 .box,
#gk-bottom2 .box,
#gk-bottom3 .box {
	float: left;
}

#gk-speakers .box,
#gk-header-top .box,
#gk-sponsors .box {
	margin-bottom: 0!important;
	padding: 0!important;
}

/* 4.2. Base style for other areas
==================================== */

#gk-top .box,
#gk-bottom .box {
	float: left;
}

.widget-area .col1 { width: 100%; }
.widget-area .col2 { width: 50%; }
.widget-area .col3 { width: 33.3%; }
.widget-area .col4 { width: 25%; }
.widget-area .col5 { width: 20%; }
.widget-area .col6 { width: 16.6%; }

.widget-area .box.last1 { width: 100%; }
.widget-area .box.last2 { width: 50%; }
.widget-area .box.last3 { width: 33.3%; }
.widget-area .box.last4 { width: 25%; }
.widget-area .box.last5 { width: 20%; }

.widget-area .nth1 {
	clear: both;
}

/* 4.3. Device classes
==================================== */

.onlyDesktop {
	display: block!important;
}

.onlyTablets {
	display: none!important;
}

.onlySmartphones {
	display: none!important;
}

.onlyTabltetsAndSmartphones {
	display: none!important;
}